#table-loader {
    color: black;
  .custom-dropdown-button {
    border: none;
    display: block;
    background: none;
  }
  .custom-th-class {
    background: none;
      color: white;
      background-color: black;
  }
}